.add-button {
    background-color: plum;
    font-size: 50px;
    color: white;
    
}

.add-container {
    display: flex;
    margin-top: auto;
    justify-content: right;
}

.lists-card {
    display: flex;
    flex-direction: column;
    background-color: gray;
}